doctype html
head
  title Project One
  script(src='../client-src/ajax.js')
body
  h1 Welcome to the account manager web application
  form(action='/accountManager/')
    |  Salesforce ID: 
    input(type='text' name='id' require pattern='[a-zA-Z0-9]{15,18}')
    input(type='submit' value='Submit')
  form(action='/gradwellId/')
    |  Gradwell ID: 
    input(type='text' name='gradId' require pattern='[0-9]{1,7}')
    input(type='submit' value='Submit')
  form(action='/contact/')
    |  Email Address: 
    input(type='text' name='email')
    input(type='submit' value='Submit')

  div(id='demo')
    h2 This is my ajax test
    button(type='button' onclick='ajaxTest()')

  h3 Ajax form
  form(id='sfform' name='form')
    label Name: 
    input(id='sfid' type='text' name='id' require pattern='[a-zA-Z0-9]{15,18}')
    input(type='button' onclick='ajaxTest()' value='Submit')
    span(id='sfidError')


