doctype html
head
  title 
body
  h3 Account details
  p Name : #{records[0].Name}
  h3 Related Contacts
  ul
    each val, index in records[0].Contacts.records
      li= val.LastName + ' ' + val.Email


  h3 Update the Account Name
  form(action='/accountManager/' + records[0].Id, method='post')
    input(type='text', name='Name')
    input(type='submit' value='Submit')

  h3 Update the Account Name using ajax
  form()
    label Update account name:
    input(id='accountName' type='text', name='Name')
    input(type='submit' value='Submit')
    span(id='postNameError')

  if !records[0].GradwellId__c
    h3 There is no gradwell Id associated with this account, you may enter one in the textbox below
    form(action='/accountManager/' + records[0].Id, method='post')
      input(type='text', name='GradwellId__c')
      input(type='submit' value='Submit')



  h3 Create a new contact to be linked to the current account
  form(action='/accountManager/' + records[0].Id + '/createContact', method='post')
    | First Name: 
    input(type='text', name='firstName')
    |     Last Name: 
    input(type='text', name='lastName', required='')
    |     Email Address: 
    input(type='text', name='email')
    input(type='submit' value='Submit')

  h3
    a(href='/AccountManager/')
      |  Home
  